.menu{
    display: flex;
    justify-content: space-between;
}


p{
    font-size: 36px;
    color:white;
}

.show {
    display: none;
}

.poiavlenie{
    display: none!important;
}


.novi_flex{
    display: flex;
 
    justify-content: space-around;

}
