.menu{
     display: flex;
    justify-content: space-between;
    margin-top: 200px; 
    
}
/* #box{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}  */

p{
    font-size: 36px;
    color:white;
}

.show {
    display: none;
}

#box3{
    display: inline-flex;
    justify-content: center;
    position: relative;

}